/* Contenedor */
.input-container3 {
    position: relative;
    margin: 1rem;
}

/*Input Field*/
.input-container3 input {
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid var(--g-color);
    padding: 1.7rem 1rem 0.5rem 0.9rem;
    font-size: 1rem;
    color: var(--font-color);
    border-radius: 0.75rem;
}

/* Etiqueta */
.input-container3 label {
    position: absolute;
    left: 0.5rem;
    top: 0.9rem;
    color: var(--label-color);
    background-color: transparent;
    font-size: 1rem;    
    pointer-events: none; /*evita que la etiqueta al estar por encima del campo reciba los eventos del raton y estos pasen al input*/
    transition: 0.3s;
}

/* Cuando el campo de entrada tiene el foco o un valor */
.input-container3 input:focus + label,
.input-container3 input:valid + label {
    top: 0.4rem;
    left: 0.95rem;
    color: var(--g-color);
    font-size: 0.8rem;
}