/* Contenedor */
.input-container {
    position: relative;
    margin: 1rem;
}

/*Input Field*/
.input-container input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--g-color);
    padding: 1.7rem 1rem 0.5rem 0.9rem;
    font-size: 1.2rem;
    color: var(--font-color);
}

/* Etiqueta */
.input-container label {
    position: absolute;
    left: 0;
    top: 1rem;
    padding: 0rem 0;
    font-size: 1.2rem;
    color: var(--label-color);
    transition: 0.3s;
}

/* Cuando el campo de entrada tiene el foco o un valor */
.input-container input:focus + label,
.input-container input:valid + label {
    top: -0.10rem;
    left: 0;
    color: var(--g-color);
    font-size: 0.9rem;
}